body {
    text-align: center;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-user-select:none;
    background-color:#EDEDED;
    font-family:'Century Gothic';
}

.title {
    color:white;
    background:linear-gradient(to right,#7237BF,#A371E3,#7237BF);
    margin-left:0px;
    margin-right:0px;
    margin-top:.5px;
    margin-bottom:.5px;
    padding:.7em .7em .7em .7em;
}


.appName {
    font-size:40px;
}

.myName{
    font-size: 30px;
}


.batch {
    color:white;
    background:linear-gradient(to right,#7237BF,#A371E3,#7237BF);
    font-size:40px;
    padding:1em 2em 1em 2em;
    margin:.5em .5em .5em .5em;
    border:none;
    border-radius:5px 5px;

}

.day {
    text-align:center;
}

.periods {
    text-align:left;
    padding-left:3em;
    padding-right:3em;
}

.elements {
    color:white;
    font-size:15px;
    padding:1em 1em 1em 1em;
    margin:1em 2em 1em 2em;
    border:none;
    border-radius:.5em .5em;
}


.day {
    font-size:25px;
}


#mon {
    background-color:palevioletred;
}

#tue {
    background-color:cadetblue;
}

#wed {
    background-color:dodgerblue;
}
